* {
    margin : 0;
    padding: 0;
}

body {
    text-align : center;
    padding-top: 5%;
    background : radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.25) 100%);
}

.maintenance {
    border-radius: 5%;
    width        : 100%;
    margin       : 10 auto;
    border       : 1px solid #000;
    box-shadow   : 0 0 10px #000;
}